<div #output class='output-box'>
    <div *ngFor = "let m of messages">
      <span class="displayName"> {{m.displayName}} </span>
      <span class="body"> {{m.body | censor:censorProfanity}} </span> 
    </div>
  </div>
  <div class="censor">
    <mat-slide-toggle color="accent" [(ngModel)]="censorProfanity">Censor Profanity</mat-slide-toggle>
    </div>
  
  <div class="chat-input">
    <mat-form-field class="input-box">
      <mat-label>Message</mat-label>
      <textarea matInput
                [(ngModel)]="messageText"
                placeholder="Enter a new message..." maxlength="280"></textarea>
    </mat-form-field>
  
    <button mat-icon-button color="primary" aria-label="Send Message" (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>