.output-box{
    width: 300px;
    height: 425px;
    margin: 10px auto;
    border: 2px solid #353535;
    background-color: white;
    overflow-y: scroll;
    word-break: break-word;
    padding: 0px 5px;
    border-radius: 10px;
    float: right;
    
}

.input-box{
    width: 60%;
    margin: 10px auto;
    height: 80px;
}

.chat-input{
    margin: auto;
    text-align: center;
}

.displayName{
    font-weight: bold;
    color: lightskyblue;
    margin-top: 100px;
}

span {
    margin-top: 5px;
}