  p {
    margin-top: 50px;
  }
  
  .login{
    width: 600px;
    height: 375px;
    margin: 50px auto;
    border: solid black 3px;
    border-radius: 15px;
    padding: 1%;
    background-color: #f7f7f8
}
  
  #google-button:hover {
  /*width: 191px;*/
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

#google-button img {
  width: 208px;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 30px 0 0;
   
}

/*button {
  border: none;
  background: none;
}*/