<div class="login">
    <h2 class= "text-center">Welcome to Battleship!</h2>
    <p> 
       This is a multiplayer game. Each player will place 4 ships of different sizes vertically or horizontally on your board. 
       You will then take turns trying to guess where your opponents enemy ships are located. When all of a player's ships 
       have been sunk, the opposing player wins.
    </p>
        <ul>
            <li><b>Destroyer - 2x1 ship</b></li>
            <li><b>Submarine - 3x1 ship</b></li>
            <li><b>Battleship - 4x1</b></li>
            <li><b>Carrier - 5x1 ship</b></li>
        </ul>
    <p class="text-center">Login with Google to create or join a game.</p>
    <div class="text-center">
        <!--<div id="google-button" (click)="login()">
            <img src="../../assets/btn_google_signin_dark_pressed_web.png" alt="Google login button">
        </div>-->
        <div id="google-button" (click)="login()">
            <img src="../../assets/btn_google_signin_dark_pressed_web@2x.png" alt="Google login button">
        </div>

        <!--<button mat-raised-button color="primary" (click)="login()">Login</button>-->
    </div>
</div>


