.statusTitle{
    text-align: center;
    margin-top: 15px; 
    border: solid black 3px;
    border-radius: 10px;
    // width: calc(20% - 10px);
    margin-left: 390px;
    width: 200px; 
}


.board-container {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin-top: 25px;
    margin-left: 40px;
    background-color: #495057;
    color: black; 
    float: left;
}

.boardTitle{
    color: white; 

}
.chat-board{
    margin-left: 65px;
} 
.chat-header{
    text-align: center;
}