.statusTitle{
    margin: auto;
    text-align: center;
    margin-top: 15px; 
    border: solid black 3px;
    background-color: #f7f7f8;
    border-radius: 10px;
    width: 350px; 
    height: 150px;
}


.board-container {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin-top: 25px;
    margin-left: 40px;
    background-color: #495057;
    color: black; 
    float: left;
}

.boardTitle{
    color: white; 

}
.chat-board{
    margin-top: 25px;
    margin-left: 40px;
    background-color: #f7f7f8;
    padding: 15px;
    border: 3px solid black;
    border-radius: 15px;
} 
.chat-header{
    text-align: center;
}