.board-container {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin: 10px;
    background-color: #495057;
    color: black;
}

.boardTitle{
    color: white; 
}