.board-container {
    border: 3px solid black;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    margin: 10px;
}
.chat-board{
    margin-left: 50px;
}
.chat-header{
    text-align: center;
}