td {
    background-color: #6D98BA;
    height: 40px;
    width: 40px;
}

table {
    border: 3px solid black;
    background-color: #CED4DA;
    color: black;
    color: black;
    color: black;
    height: 400px;
    width: 400px;
}

td:hover {
    filter: brightness(80%);
}

.ship-info-container {
    max-width: 250px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-top: 15px;
    margin-top: 15px;
    background-color: #CED4DA; 
}

.cell-0{
    background-color: #6D98BA;
}
.cell-submarine-1, .cell-submarine-5,
.cell-destroyer-1, .cell-destroyer-5,
.cell-battleship-1, .cell-battleship-5,
.cell-carrier-1, .cell-carrier-5
{
    background-color: gray;
}
.cell-2{
    background-color: white;
}
.cell-submarine-3,
.cell-destroyer-3,
.cell-battleship-3,
.cell-carrier-3{
    background-color: orange;
}
.cell-4{
    background-color: red;
}

.ng-container{
    background-color: #495057;
}

.btn1{
    margin-top: 10px; ;
}

.btnStyle{
    margin: 10px auto;
}

.shipsFont {
    color: black; 
}