.ml-8{
    margin-left: 8px;
    position: fixed;
}
p {
    display: inline-block;
}

#whiteBox {
    background-color: white ;
    padding: 10px ;
    border: 1px solid black ;
    width: 1px; 
    display: inline-block;

     
  }
  #orangeBox {
    background-color: orange ;
    padding: 10px ;
    border: 1px solid black ;
    width: 1px; 
    display: inline-block;

  }

  #redBox {
    background-color: red ;
    padding: 10px ;
    border: 1px solid black ;
    width: 1px; 
    display: inline-block;

  }
  