<div class="container">
  <div class="content">

    <div id="game-desc">
      <!-- Create Game -->
      <h2 class="text-center"><b>Create Game</b></h2>
      <p>
        After clicking on create game you will be given a game code. Share your code with a friend so that they can
        join!
      </p>
      <button (click)="loggedIn()" mat-raised-button class="buttonStyle mb-30">Create New Game</button>

      <mat-divider></mat-divider>

      <!-- Join Game -->
      <h2 class="text-center pt-30"><b>Join Game</b></h2>
      <p>
        To join a game you must receive a game code from a player who has already created a game. The game code is located in
        the first player's URL endpoint (ex: /game/12345678 --> 12345678 = game code). Copy the game code and paste 
        it into the input field to join game.
      </p>
      <!-- Game Code Form-->
      <form class="text-center" #gameForm="ngForm" role="form" name="form" (ngSubmit)="gameCode.valid && joinGame()">
        <mat-form-field>
          <mat-label>Enter Game Code</mat-label>
          <input required matInput type='text' name="gameCode" [(ngModel)]='gameId' #gameCode="ngModel">
          <mat-error *ngIf="gameCode.invalid">
            Must enter a game code to join
          </mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button class="buttonStyle">Join Game</button>
      </form>
    </div>
  </div>
</div>
