.buttonStyle {
  width: 250px; 
  display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px auto;
    font-family: impact;
  
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px auto;
  }
  
  .largeBtn{
      width: 300px;
      height: 250px;
      font-size: large;
    
  }
  
  .w-100 {
    width: 100%;
  }
  
  .content {
    width: calc(50% - 10px);
    /*height: 245px;*/
    margin-top: 10px;
    border: 3px solid #353535;
    background-color: #C0C0C4;
    padding: 0px 5px;
    border-radius: 10px;
    justify-content: center !important;
  }
  
  .txt-center {
    text-align: center;
    font-family: impact;
  }
  
  p {
    margin-top: 50px;
    padding: 5px;
 
     
  }

  #game-desc {
    padding-top: 50px;
  }

  #game-desc p {
    margin-top: 1px
  }
  