.buttonStyle {
  width: 250px; 
  display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px auto;
    background-color: #253C78;
  
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 75px auto;
  }
  
  .content {
    width: calc(50% - 10px);
    /* height: 245px; */
    margin-top: 10px;
    border: 3px solid #353535;
    background-color: #f7f7f8;
    padding: 0px 5px;
    border-radius: 10px;
    justify-content: center !important;
  }
  
  .txt-center {
    text-align: center;
  }
  
  p {
    margin-top: 50px;
    padding: 5px;
  }

  form {
    width: 208px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
  }
  
  #game-desc {
    padding-top: 25px;
    padding-bottom: 10px;
  }

  #game-desc p {
    margin-top: 1px;

  }



