.buttonStyle {
  width: 250px; 
  display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px auto;
    background-color: #253C78;
    color: white;
  
}

// INFO CONTAINER 
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 75px auto;
  }
  
  // ALL CONTENT INSIDE INFO CONTAINER 
  .content {
    width: 600px; 
    height: 450px; 
    margin-top: 10px;
    border: 3px solid black;
    background-color: #f7f7f8;
    padding: 0px 5px;
    border-radius: 10px;
    justify-content: center !important;
  }

  .mb-30 {
    margin-bottom: 30px;
  }

  .pt-30 {
    padding-top: 30px;
  }
  
  p {
    margin-top: 50px;
    padding: 5px;
  }

  form {
    width: 250px;
    margin: auto;
  }
  
  #game-desc {
    padding-top: 25px;
    padding-bottom: 10px;
  }

  #game-desc p {
    margin-top: 1px;

  }



